.leftHandContainer {
  min-height: 100vh;
  background-color: #fca311;
  display: flex;
  flex-direction: column;
}

/* .leftHandContainer a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: brown;
  padding: 8px;
  border-bottom: 1px solid black;
} */

/* .leftHandContainer a:hover {
  color: white;
  background-color: rgb(111, 37, 37);
  padding: 8px;
} */
