.leftHandContainer {
  min-height: 100vh;
  background-color: rgb(170, 142, 196);
  display: flex;
  flex-direction: column;
}
.leftHandContainer a {
  text-decoration: none;
  cursor: pointer;
  color: red;
}
