.navbar-container {
  background-color: #14213d;
  padding: 10px;
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.logInRegister {
  display: flex;
  gap: 10px;
  color: #e5e5e5;
}
.dropdownFather {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 15px;
}

.nav-item a {
  text-decoration: none;
  color: #e5e5e5;
}

.nav-item a:hover {
  color: #fca311;
}

.active {
  font-weight: bold;
}

.custom-dropdown-item {
  padding: 10px 20px; /* Add padding to each dropdown item */
  color: #e5e5e5; /* Set the text color */
  text-decoration: none; /* Remove underlines from links */
  display: block;
  cursor: pointer; /* Make the items a block element */
}
.custom-dropdown-item:hover {
  background-color: #e5e5e5;
  color: #14213d; /* Change background color on hover */
}
.custom-dropdown-item.active {
  background-color: #1b1a18; /* Set background color for the active item */
  font-weight: bold; /* Make the active item bold */
}

/* <NavDropdown title="Dropdown" id="basic-nav-dropdown">
<NavDropdown.Item href="#action/3.1">Action</NavDropdown.Item>
<NavDropdown.Item href="#action/3.2">
  Another action
</NavDropdown.Item>
<NavDropdown.Item href="#action/3.3">Something</NavDropdown.Item>
<NavDropdown.Divider />
<NavDropdown.Item href="#action/3.4">
  Separated link
</NavDropdown.Item>
</NavDropdown> */
